/*!
* File name:   module.css
* Description: Add description of the module-specific CSS.
* Version:     1.0
*/

/* All CSS rules should live in the module namespace */
.module {
	
}

/* Section separator
----------------------------------------------------------------------------------------------------*/
.module .section {
	
}



